<div class="top-nav-bar">
  <div class="top-nav-content">
    <div class="contact-items">
      <div class="contact-item">
        <i class="pi pi-phone"></i>
        <span>+263 779 045 285</span>
      </div>
      <div class="contact-item">
        <i class="pi pi-envelope"></i>
        <span>sales&#64;oasiswater.co.zw</span>
      </div>
      <div class="contact-item hours">
        <i class="pi pi-clock"></i>
        <span>Mon-Fri 8a-5:30p, Sat 8a-2:30p</span>
      </div>
    </div>
    <div class="social-icons">
      <a href="#" class="social-link">
        <i class="pi pi-facebook"></i>
      </a>
      <a href="#" class="social-link">
        <i class="pi pi-instagram"></i>
      </a>
    </div>
  </div>
</div>
